{% extends "base.html" %}

{% block content %}
<h2>Documents</h2>

<form action="/compare" method="GET">
    <select name="a">
        {% for doc in documents %}
        <option value="{{ doc.id }}">{{ doc.filename }}</option>
        {% endfor %}
    </select>

    <select name="b">
        {% for doc in documents %}
        <option value="{{ doc.id }}">{{ doc.filename }}</option>
        {% endfor %}
    </select>

    <button class="btn btn-primary">Compare</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Plagiarism %</th>
            <th>AI Score</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for doc in documents %}
        <tr>
            <td>{{ doc.filename }}</td>
            <td>{{ doc.plagiarism_score }}%</td>
            <td>{{ doc.ai_generated_prob }}%</td>
            <td>
                <a href="{{ url_for('documents.document_detail', doc_id=doc.id) }}"
                    class="btn btn-sm btn-outline-primary">
                    View Details
                </a>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}