{% extends "base.html" %}
{% block content %}

<h3 style="font-weight:700;">{{ document.filename }}</h3>

<div class="row mt-3">

    <div class="col-md-4">
        <div class="card p-3">
            <h6>AI Score</h6>
            <h3>{{ ai_score }}%</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h6>Plagiarism Score</h6>
            <h3>{{ document.plagiarism_score }}%</h3>
        </div>
    </div>

</div>

<hr>

{% for source, items in grouped_results.items() %}

<div class="card p-3 mt-3">

    <h6 style="color:#2563eb;">Source: {{ source }}</h6>

    {% for item in items %}

        <div style="
            padding:10px;
            margin-top:10px;
            border-left:5px solid
            {% if item.similarity > 70 %}#ef4444
            {% elif item.similarity > 40 %}#f59e0b
            {% else %}#22c55e
            {% endif %}
        ; background:#f9fafb; border-radius:8px;">

            {{ item.sentence }}
            <span style="float:right;font-weight:600;">
                {{ item.similarity }}%
            </span>

        </div>

    {% endfor %}

</div>

{% endfor %}

{% endblock %}