<h2 class="mb-3">Analysis Result</h2>

<div class="mb-2">
    <strong>File:</strong> {{ document.filename }} <br>
    <strong>AI Score:</strong> {{ ai_score }}%
</div>

<hr>

<!-- FULL TEXT DISPLAY -->
<div class="card p-3">

    {% set sentences = document.original_text.split('.') %}

    {% for sentence in sentences %}

        {% set clean = sentence.strip() %}
        {% set norm_clean = clean.lower() %}

        {% set matched = false %}
        {% set score = 0 %}
        {% set source = "" %}

        {% for h in highlights %}

            {% if h.sentence in norm_clean %}

                {% set matched = true %}
                {% set score = h.similarity %}
                {% set source = h.source %}

            {% endif %}

    {% endfor %}

    <div style="
        padding:8px;
        margin-bottom:6px;
        border-radius:6px;

        {% if matched and score > 70 %}
            background:#f8d7da;
            border-left:5px solid #dc3545;
        {% elif matched and score > 40 %}
            background:#fff3cd;
            border-left:5px solid #ffc107;
        {% elif matched %}
            background:#d4edda;
            border-left:5px solid #28a745;
        {% endif %}
    "
    title="{% if matched %}Source: {{ source }} | {{ score }}%{% endif %}">

        {{ clean }}.

    </div>

{% endfor %}

</div>